.catalog__title {
	font-weight: 200;
	font-size: 4.375rem;
	line-height: 1.094em;
	color: $bgc-violet;
	text-align: center;
	padding-left: 24px;
	margin-bottom: 80px;
}

.catalog__list {
	list-style: none;
	display: flex;
	justify-content: center;
	column-gap: 30px;
	align-items: flex-end;
	margin-bottom: 84px;
}

.catalog__item {

}


