.product-card {
	width: 329px;
	height: 521px;
	background-color: $bgc-extra-light-gray;
	display: flex;
	flex-direction: column;
	padding-top: 68px;
}

.discount {
	width: 380px;
	height: 600px;
	position: relative;
}

.product-card__pic {
	margin-left: 17px;
	margin-top: -6px;
	order: -1;
}

.discount .product-card__pic {
	margin-top: 1px;
}

.product-card__title {
	font-size: 1.25rem;
	line-height: 1.36em;
	font-weight: 400;
	color: $font-clr-dark;
	order: 1;
	// letter-spacing: 0em;
	width: 155px;
	margin-left: 35px;
	margin-bottom: 37px;
	margin-top: 11px;
}

.product-card__description {
	font-weight: 500;
	font-size: 0.75rem;
	line-height: 2em;
	letter-spacing: 0.23em;
	color: $font-clr-gray-violet;
	text-transform: uppercase; 
	order: 0;

	margin-left: 35px;
	margin-bottom: 0px;
	margin-top: 14px;
}

.product-card__price-wrapper {
	display: flex;
	order: 2;

	margin-left: 35px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 2px;
	padding-right: 39px;
}

.product-card__price {
	font-size: 1.25rem;
	line-height: 1.36em;
	color: $font-clr-dark;
	margin-top: 0px;
	margin-bottom: 0px;
}

.product-card__discount {
	display: none;
}

.discount .product-card__price {
	font-size: 1.125rem;
	line-height: 1.36em;
	color: $font-clr-dark;
	opacity: 0.6;
	text-decoration: line-through;
	margin-top: 0px;
	margin-left: 6px;
	margin-right: 16px;
}

.discount .product-card__discount {
	display: block;
	font-size: 1.5rem;
	line-height: 1.36em;
	font-weight: 500;
	color: $font-clr-dark;
	margin-top: -6px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.add-to-cart {
	display: block;
	width: 29px;
	height: 29px;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
	background-image: url("../img/add-to-cart.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	margin-left: auto;
	margin-right: 39px;
}

.discount .product-card__description {
	margin-top: 5px;
	margin-left: 42px;
}

.discount .product-card__title {
	margin-left: 42px;

}

.discount .add-to-cart {
	margin-right: 9px;
	margin-top: -3px;
}

.discount::before {
	content: "";
	display: block;
	width: 4.17625rem;
	height: 4.180625rem;
	background-image: url("../img/discount.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	position: absolute;
	top: 19px;
	left: 16px;
}