.product-info {
	background: linear-gradient(to bottom, 
							#fff 209px, 
							#EDECF6 209px 1232px, 
							#fff 1232px 100%);
	margin-bottom: 150px;
	position: relative;
}

.product-info__text {
	font-family: "Playfair Display", "Arial", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 20.625rem;
	line-height: 0.924em;
	color: #D6D4E7;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-right: 24px;
	text-align: center;
}

.product-info__facts::after {
	content: "";
	display: block;
	width: 638px;
	height:  1196px;
	background-image: url("../img/background-6.webp");
	background-repeat: no-repeat;
	background-position: top center;
	background-size: contain;
	position: absolute;
	top: 300px;
	right: -17px;
}
