body {
  min-width: 1920px;
  margin: 0;
  // background-image: url("../img/fool-background.webp");
  // background-repeat: no-repeat;
  // background-position: top center;   
  font-family: "Montserrat", "Verdana", "Arial", "Helvetica", sans-serif; 
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $font-clr-light;
  background-color: $background-light;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  word-wrap: normal;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: "Montserrat", "Verdana", "Arial", "Helvetica", sans-serif; 
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 1.1em;
  letter-spacing: 0.32em;
  text-transform: uppercase;
  color: $background-light;

  background-color: $font-clr-dark;
  border-radius: 100px;

  text-align: center;
  vertical-align: middle;
  display: block;
  width: 270px;
  padding: 2.2em 0px;
}

.container {
  width: 1660px;
  padding: 0 30px;
  margin: 0 auto;

  outline: 2px solid red;
  outline-offset: -2px;
}


