$background-dark: #EDECF6;
$background-light: #fff;
$font-clr-light: #888794;
$font-clr-dark: #515076;
$font-clr-dark-violet: #63678C;
$font-clr-gray-violet: #A5A3B9;
$bgc-violet: #757AA5;
$bgc-extra-light-gray: #F7F7FA;
$font-violet-dark: #4C5072;
$font-violet-light: #A5A3B9;